.navbar
  .option
    a(href='/home') FEATURES
  .option
    a(href='/details') DETAILS
  .option
    a(href='/reviews') REVIEW
  .plans.option
    a(href='/plans') PLANS
  if name
    .sign-up.option
      a(href='/profilepage') #{name}
    .sign-up.option
      a(href='/logout') LOG OUT
  else
    .sign-up.option
      a(href='/login') SIGN UP
